{% extends "pblog/index.html" %}


{% block page_title %}{{ post.title }}{% endblock %}


{% block page_content %}
  <article class="post">
    <div class="post-header">
      <h1 class="post-title">{{ post.title }}</h1>

      <time pubdate="{{ post.published_date }}">{{ post.published_date.strftime("%B %d, %Y") }}</time>
      <div class="meta-topic">
        <a href="{{ url_for("blog.list_posts_in_topic", topic_id=post.topic.id, slug=post.topic.slug) }}">
          {{ post.topic.name }}
        </a>
      </div>
    </div>

    <div class="post-body">
      {{ post.html_content|safe }}
    </div>
  </article>
{% endblock %}
