{% extends "pblog/index.html" %}


{% block page_content %}
{% if posts %}
  {% for post in posts %}
  <article class="post-overview">
    <div class="post-header">
      <h2><a href="{{  url_for("pblog.show_post", post_id=post.id, slug=post.slug) }}">{{ post }}</a></h2>
    </div>
    <p class="post-summary">
      {{ post.summary }}
    </p>
    <div class="post-footer">
      <time pubdate="{{ post.published_date }}">{{ post.published_date.strftime("%B %d, %Y") }}</time>
      <div class="meta-topic">
        <a href="{{ url_for("pblog.list_posts_in_topic", topic_id=post.topic.id, slug=post.topic.slug) }}">
          {{ post.topic }}
        </a>
      </div>
    </div>
  </article>
  {% endfor %}
{% else %}
<p>
  This blog has no post in it.
</p>
{% endif %}
{% endblock %}
